



.LoginBar{
  background:white;
  position:fixed;
  padding:20px;
  bottom:35%;
  right:0%;
}

#getNameArea{
  clear:both;
  display: block;
}

#menu{
  padding:20px;

}

.LoginBar input{
  padding:10px;
}

#menuButton{
  background:yellow;
  padding:20px;
}

#menuButton:hover{
  background:lightgreen;
  color:black;
  cursor: pointer;
}

#menuButton:hover{
  background:light-blue;
}